<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Your Foods</h1>
  <a href="/users/<%= user._id %>/foods/new">Add an Food</a>
  <ul>
    <% if (foods && foods.length) { %>
      <% foods.forEach((food) => { %>
      <li>
        <a href="/users/<%= user._id %>/foods/<%= food._id %>">
          <p><%= food.itemName %></p>
          </a>
    <li>
      <a href="/users/<%= user._id %>/foods/<%= food._id%>">
        <p>
          
        </p>
     
    </li>
    <% }); %>
    <% } else { %> 
    <li>No foods available.</li>
  <% } %> 
  </ul>
</html>
