<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= food.itemName %></h1>

  <%if (food.itemName) {%> 
    <p>ItemName: <%=food.itemName%>
    </p>
    <% } %>

  <%if (food.quantity) {%> 
    <p>quantity: <%=food.quantity%>
    </p>
    <% } %>
  

  <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit"
    >Edit</a
  >

  <form
    action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this food</button>
  </form>
</body>
</html>